<h1>Список исполнителей</h1>

<ul>
    @foreach (var artist in ViewBag.Artists)
    {
        <li>
            <a href="/music/artist/@artist">
                @artist
            </a>
        </li>
    }
</ul>