<h1>@ViewBag.Name</h1>

<p><strong>Жанр:</strong> @ViewBag.Genre</p>
<p><strong>Год основания:</strong> @ViewBag.Year</p>

<a href="/music/albums/1" class="btn btn-primary">
    Посмотреть альбомы
</a>